<div class="display-error">
    </div>

<section class="caso-panoramica">
    
    <img alt="Evidenza principale" src="" class="img-evidence" width="300">
    
    <div class="dati-caso">
        
        <p class="status-badge "></p>
        <h1></h1>
        <p class="italic"></p>
        
        <h2>Ricostruzione dei fatti</h2>
        <div id="description-text" class="testo-racconto">
            </div>
        <h2>Scheda Tecnica</h2>
        <div class="scheda-tecnica">
            <p><span class="bold">Data: </span></p>
            <p><span class="bold">Luogo: </span></p>
            <p><span class="bold">Vittime: </span></p>
            <p><span class="bold">Sospettato: </span></p>
            <p><span class="bold">Arma: </span></p>
        </div>

    </div>
</section>

<section class="caso-approfondimenti">
    <h2>Timeline & Discussione</h2>
    <div class="timeline-container"> 
        </div>
</section>
