<main id="main-content" class="content-grid" tabindex="-1">

    <section class="sezione-stretta text-center">
        <h1>Chi Siamo</h1>
        <p class="lead">
            Siamo un team di appassionati di tecnologia e cronaca, impegnati a creare un archivio digitale accessibile e
            rigoroso sui misteri italiani.
        </p>
    </section>

    <section class="sezione-stretta" aria-labelledby="team-title">
        <h2 id="team-title" class="text-center mb-2">Il Nostro Team</h2>

        <div class="detective-container" role="list">

            <div class="detective-card" role="listitem">
                <img src="{{PATH_PREFIX}}/assets/img/zanella.svg" alt="Foto di Francesco Zanella"
                    class="detective-photo" />
                <div class="detective-info">
                    <h3>Francesco Zanella</h3>
                </div>
            </div>

            <div class="detective-card" role="listitem">
                <img src="{{PATH_PREFIX}}/assets/img/grolla.svg" alt="Foto di Lorenzo Grolla" class="detective-photo" />
                <div class="detective-info">
                    <h3>Lorenzo Grolla</h3>

                </div>
            </div>

            <div class="detective-card" role="listitem">
                <img src="{{PATH_PREFIX}}/assets/img/perozzo.svg" alt="Foto di Samuele Perozzo"
                    class="detective-photo" />
                <div class="detective-info">
                    <h3>Samuele Perozzo</h3>
                </div>
            </div>

            <div class="detective-card" role="listitem">
                <img src="{{PATH_PREFIX}}/assets/img/zago.svg" alt="Foto di Alice Zago" class="detective-photo" />
                <div class="detective-info">
                    <h3>Alice Zago</h3>
                    <p>Capo <span lang="en">Detective</span></p>
                </div>
            </div>

        </div>
    </section>

</main>