<header class="main-header">
    <div class="header-container">
        <div class="logo-area">
            <img src="{{PATH_PREFIX}}/assets/img/LogoVettorialeNoBordi.svg?v=2" alt="Logo AliceTrueCrime" height="80" />
            <span>Alice <span lang="en">TrueCrime</span></span>
        </div>

        <nav class="main-nav" aria-label="Menu principale">
            <ul>
                {{NAVBAR}}
            </ul>
        </nav>

        <div class="header-actions">
            {{HEADER_BUTTONS}}
        </div>
    </div>
</header>